@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Gloria+Hallelujah&display=swap');
@import '../../constants.scss';

form {
  display: flex;
  flex-direction: column;
}

.playerContainer {
  height: 100vh;
  z-index: 9;
}

.playerTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  // width: 50vw;
  // border: solid yellow;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // margin: 12px;
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

table {
  max-width: 50vw; 
  min-width: 30vw;
}

.points {
  font-size: 2rem;
  color: whitesmoke;
  background: $blue-gradient;
  height: 6vh;
}

.playerName {
  font-family: 'Gloria Hallelujah', sans-serif;
  color: whitesmoke;
  height: 6vh;
  font-size: 1.5rem;
  background: $blue-gradient;
}