form {
  display: flex;
  flex-direction: column;
}

.playerTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 50vw; 
}

.playerContainer {
  height: 100vh;
}