@import '../../constants.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.categorySelectBox {
  position: relative;
  top: 5vh; 
  width: 50vw;
  @include box;
  h2, h4 {
    font-family: $inter;  
    color: #121212;
    margin: 1rem;
  }
  h2 {
    font-size: 3.75rem;
    font-weight: 900; 
  }
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: $blue-gradient;
  height: 100vh;
}

.selectBtn {
  @include flatBtn;
}

.readyBtn {
  @include flatBtn;
  font-size: 2rem;
  border: solid whitesmoke 1px;
  padding: 1rem;
}

.selectBtn:hover, .readyBtn:hover {
  background-color: rgb(119, 149, 199);
}
.selectBtn:active {
  background-color: rgb(2, 65, 173);
}

.disabled {
  background-color: transparent;
  font-size: 2  rem;  
  color:rgb(119, 149, 199, 0.3);
  border: solid rgb(119, 149, 199, 0.3) 1px;
}

.selectedCategories {
  // position: relative;
  // top: 10vh; 
  @include box;
  width: 25vw;
  h3 {
    font-size: 2rem;
    font-weight: 800;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  button {
    background-color: none !important;
    border: none;
    margin: 1rem;  
  }
}

.rightItems {
  position: relative;
  top: 10vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryList {
  border: solid grey 1px;
  border-radius: 4px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 1rem;
  width: 60%;
  align-self: center;
  min-height: 463px;
  h3 {
    margin-top: 2px;
  }
}

.selectListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  text-transform: capitalize;
  border-bottom:rgb(2, 65, 173);
  margin: 0.25rem;
}

.selectListItem:hover {
  background-color: rgb(6, 12, 233, 0.1);
  border-radius: 3px;
}

.addCategoryBtn {
  background-color: none;
  border: none;
}

.clueBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    margin: 0;
    font-size: 0.75rem;
  }
}

.clueStrengthBar {
  width: 40px;
  // border: solid rgb(204, 203, 203) 1px;
  border-radius: 3px;
  height: 8px;
  margin-left: 4px;
  margin-right: 35px;
}

.bar {
  border-radius: 3px;
  height: 8px;
}

.weak {
  background-color: rgb(248, 121, 121);
  width: 20px;
}

.strong {
  background-color: greenyellow;
  width: 40px;
}

.medium {
  background-color: rgb(249, 240, 107);
  width: 30px;
}