
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.selectListItem {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}