.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 60vw;
}

.board {
  // background-color:rgb(55, 54, 54);
  background: radial-gradient(circle, #202020, #4a4848);
  width: 60vw;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  padding-left: none;
  border: 6px solid black;
  box-shadow: #202020 3px 3px 6px 0px inset, #4a4848 -3px -3px 6px 1px inset;
}