.container {
  // background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: black;
    padding: none;
  }
}

.board {
  width: 60.5%;
  background-color: black;
}