.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  // width: 60vw;
  background-image: url(https://parade.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTkwNTgxMTE3NzUxOTkzNDY5/jeopardy-board.webp);
  background-size: 85% auto;  
  // background-size: 90% cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
}

.board {  
  background: radial-gradient(circle, rgba(18, 18, 18, 0.7), rgba(40, 39, 39, 0.99));
  margin-top: 60px;
  width: 60vw;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: none;
}