@import '../../constants.scss';

.clue {
  font-family: $libre;
  color: whitesmoke;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgb(30, 33, 235, 0.7);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Apply the backdrop blur effect */
  z-index: 3; /* Adjust the z-index as needed */
}

.header {
  font-family: $inter;
}