@font-face {
  font-family: 'Jeopardy';
  // src: url('../fonts/my-custom-font.ttf') format('truetype');
  src: url('../../fonts/gyparody\ hv.ttf') format('truetype');
}
@import '../../constants.scss'; 

.wrapper {
  width: 100vw;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  background: $blue-gradient;
  // background-color: black;
  z-index: 3;
  padding: 0.5rem;
  border-bottom: whitesmoke 1px;
}

a {
  text-decoration: none !important;
  color: whitesmoke;
}

header {
  font-family: Jeopardy;
  font-size: 3rem;
  color: whitesmoke;
  padding: 0 0.5em 0 0.5em;
  justify-self: start;
  text-decoration: none !important;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  transform: translateX(-17%);
}

ol {
  padding: 0 5vw 0 5vw;
}
