@import '../../constants.scss';


.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.hero {
  height: .15rem;  
}