@import '../../constants.scss';

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 60vw;
  height: 70vh;
  background-color: $secondary-blue;
  color: white;
  z-index: 10;
  // border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  animation: enhance 1.5s linear forwards;
}

@keyframes enhance {
  0% {
    transform: scale(0.25);
  }
  33% {
    transform: scale(0.5);
  }
  66% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.modalHeader {
  height: 50px;
  // background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;  
  text-transform: uppercase;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #859eb8;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  font-family: $oswald;
}

.modalContent {
  padding: 10px;
  font-size: 2.5rem;
  color: #f7f8f9;
  text-align: center;
  padding: 3.5rem;
}


.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  // border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: $secondary-blue; 
  color: white;
  transition: all 0.25s ease;
  // box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin: 4px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.answer {
  color: rgb(255, 255, 0);  
  font-family: $libre;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

.modalContent {
  font-family: $libre;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.checkmark {
  color: green;
  animation: checkmark-appear 0.75s cubic-bezier(0.42, 0, 0.58, 1);
}

.SubCheckmark {
  color: red;
  animation: checkmark-appear 0.75s cubic-bezier(0.42, 0, 0.58, 1);
}


@keyframes checkmark-appear {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {  
    transform: scale(1);
  }
}

.modalActions {
  border-top:rgb(115, 150, 211);
  position: absolute;
  bottom: 2px;
  // margin-bottom: 10px;
  width: 100%;
  color: #859eb8;
  font-family: $inter;
  font-weight: 900;
}

.actionsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: $inter;
  font-weight: 400;   
  p {
    color: #e6e7fd;
  }
}

.addBtn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color:  rgb(8, 48, 118);
  border-radius: 4px;
  width: 6rem;
  margin: 1px;
}

.subBtn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color:  rgb(8, 48, 118);
  border-radius: 4px;
  width: 6rem;
  margin: 1px;
}

.valuePop {
  color: green;
  // background-color: transparent;
  border-radius: 4px;
  position: relative;
  right: 90px;
  top: 50px;
}

.valuePopSub {
  color: red;
  // background-color: transparent;
  border-radius: 4px;
  position: relative;
  left: 0px;
  bottom: 80px;
}

.buttons {
  display: flex;
}