@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

// colors
$jeopardy-blue: #060CE9; 
$secondary-blue: #1f24eb;
$blue-gradient: radial-gradient(circle, rgb(22, 91, 209), rgb(8, 48, 118));

// fonts
$oswald: 'Oswald';
$libre: 'Libre Baskerville'